<h1>Burger App</h1>

<ul>
{{#each burgers}}
{{#unless devoured}}
    {{!-- render undevoured burgers here --}}   
    <li>{{ burger_name }} 
    <button data-id="{{id}}" class="eatBurgerBtn">Devour</button>
    </li>
{{/unless}}
{{/each}}
</ul>
<hr>
<ul>
{{#each burgers}}
{{#if devoured}}
    {{!-- render devoured burgers here --}}
    <li>{{ burger_name }} </li>

{{/if}}
{{/each}}
</ul>



<div>
  <form action="/api/burgers" method="POST">
  	<textarea type="text" name="newBurger"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div>






<script type="text/javascript">

{{!-- 
  $(".eatBurgerBtn").on("click", function(event) {
    // Get the ID from the button.
    // This is shorthand for $(this).attr("data-planid")
    console.log("devour button clicked")

    var id = $(this).data("id");
    console.log(id)

    // Send the DELETE request.
    $.ajax("/devour/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  }); --}}




  
   $(".eatBurgerBtn").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    console.log("devour button clicked")
    event.preventDefault();

    var id = $(this).data-("id")
    console.log(id)

    var updatedBurger = {
      burger: id
    };

    // Send the PUT request.
    $.ajax("/devour/" + id, {
      type: "PUT",
      data: updatedBurger
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

</script>